p {
  color: #fff;
}

.spinner {
  text-align: center;
  padding: 150px 0;
}

.spinner:after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #535353;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.about-us {
    border-top: 1px solid #2d2e2d;
}

.about-landova {
  margin-top: 100px;
}

.about-landova-header {
  height: auto;
  position: relative;
}

.founder {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  text-align: justify;
  gap: 20px;
  line-height: 1.8;
  margin: 70px 0px 0px 0px;
}

.founder p {
  margin: 0 !important;
  align-self: flex-start;
  color: #fff;
}

.about-us-image {
  display: block;
  margin-top: 0;
  width: 20%;
  height: auto;
  object-fit: contain;
}

.site-section__inset {
    max-width: 1160px;
    margin: 0 auto;
    padding: 140px 0;
}

.site-section__title.--like-h6 {
    color: #fff;
    margin: 0;
    letter-spacing: .24em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.55;
    font-size: 16px;
}

.site-section__excerpt {
    max-width: 1160px;
    color: #fff;
    margin: 67px 0 0 !important;
    line-height: 1.25;
    font-size: 38px !important;
}

.site-section__excerpt strong {
    font-weight: 700;
}

.site-section__subhead {
    margin: 23px 0 0;
    color: #fff;
}

.site-section__subhead__landova {
    margin: 40px 0 0;
    padding-top: 40px;
    color: #fff;
    border-top: 1px solid #2d2e2d;
}

.about-us p {
    color: #fff;
    margin: 23px 0 0;
}

.about-highlights {
    color: #fff;
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    line-height: 1.6;
    margin: 30px 0;
}

.about-highlights li::before {
  content: '✔️';
  margin-right: 8px;
}

.about-quote {
  font-style: italic;
  color: #afafaf;
  margin: 20px 10px;
  border-left: 4px solid #ccc;
  padding-left: 20px;
}

.button.item---list__more {
  display: inline-block;
  background-color: #000000;
  color: rgb(255, 255, 255);
  line-height: 1.7;
  font-size: 18px;
  padding: 10px 0px;
  border: none;
  gap: 10px;
  transition: background-color 0.3s;
}

.button.item---list__more span {
  text-decoration: underline;       
}

.button.item---list__more:hover {
  padding-left: 36px;
}

.button.item---list__more.disabled,
.button.item---list__more:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.about-us-arrow {
  padding: 0 20px 20px 0;
}

@media (max-width: 1024px) {
   .founder {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .about-us-image {
    width: 50%;
    margin-bottom: 20px;
  }

  .site-section__inset {
      padding: 102px 4%;
  }
  .site-section__head {
      padding: 102px 0;
  }
  .site-section__excerpt {
      max-width: 640px;
      margin-top: 16px !important;
      line-height: 1.6;
      font-size: 28px !important;
  }
}

@media (max-width: 768px) {
  .about-us-image {
    width: 60%;
  }

  .site-section__inset {
      padding: 48px 4% !important;
  }

  .site-section__head {
      padding: 0;
  }

  .site-section__title.--like-h6 {
    font-size: 14px;
  }

  .site-section__excerpt {
    font-size: 24px !important;
  }
}

@media (max-width: 426px) {
  .about-us-image {
    width: 100%;
  }

  .site-section__excerpt {
    font-size: 22px !important;
  }
  .button.item---list__more span {
    font-size: 16px !important;    
  }
  .about-us p:not(.site-section__excerpt) {
    font-size: 14px !important;
  }
  .about-highlights {
    font-size: 14px !important;    
  }
}