.project-detail-page {
  color: white;
  background-color: black;
}

/* HERO SECTION */
.detail-project__hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../assets/project-001.jpeg') center center / cover no-repeat;
}

.logo {
  position: absolute;
  top: 50px;
  left: 4%;
  width: auto;
  height: 180px;
}

.detail-project__hero-text {
  position: absolute;
  left: 4%;
  bottom: 80px;
  right: 4%;
  z-index: 10;
  font-size: 14px;
  color: #ffffff;
  max-width: 1920px;
  margin: 0 auto;
}

.detail-project__hero-text p {
  margin: 10px 0;
  font-size: 1.4rem;
  line-height: 1.2;
}

.detail-project__hero-text .hero-line-1 {
    margin: 0 0 45px;
    letter-spacing: .16em;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.8;
}

.detail-project__hero-text .hero-line-2 {
    margin: 0;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.25;
    font-size: 48px;
}

.detail-project__hero-text .hero-line-3 {
    margin: 4px 0 0;
    line-height: 1.8;
    color: #c6c6c6;
    font-size: 16px;
}

/* MAIN CONTENT BELOW HERO */
.detail-project__content {
  max-width: 1160px;
  margin: 0 auto;
  padding: 168px 4%;
  overflow: hidden;
}

.detail-project__content h3 {
  line-height: 1.4;
  font-size: 24px;
  margin: 54px 0 24px;
  font-weight: 400;
}

.detail-project__content p {
  margin-bottom: 24px;
  line-height: 1.8;
  font-size: 14px;
}

.detail-project__col--align-left {
  width: 305px;
  float: left;
}

.detail-project__col--align-right {
  width: calc(100% - 368px);
  float: right;
  margin-top: 5px;
}

.map-container {
  max-width: 1160px;
  margin: -60px auto 60px;
  padding: 0 4%;
}

.map-container iframe {
  width: 100%;
  border: none;
  border-radius: 8px;
  height: 500px;
  display: block;
}

.footer {
  max-width: 1160px;
  margin: 0 auto;
}

.footer-text {
    float: right;
    margin: 0 0;
    line-height: 1.8;
    padding-bottom: 150px;
}

.spinner {
  text-align: center;
  padding: 150px 0;
}

.spinner:after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #535353;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
 .logo {
    left: 30px !important;
    top: 34px !important;
    height: 100px !important;
  }

  .detail-project__hero {
        height: 60vh;
  } 
  .detail-project__hero-text {
        font-size: 12px;
        left: 11%;
        top: 57%;
        right: 4%;
        bottom: auto;
        transform: translateY(-50%);
        text-align: center;
        max-width: 76%;
    }

  .detail-project__hero-text p {
      font-size: 1.2rem;
    }

  .detail-project__hero-text .hero-line-1 {
      font-size: 15px;
      margin-bottom: 12px;
    }

   .detail-project__hero-text .hero-line-2 {
      font-size: 32px;
      line-height: 1.35;
      transform: rotate(.03deg);
    }

  .detail-project__hero-text .hero-line-3 {
      margin-top: 10px;
      margin: 4px 0 0;
      line-height: 1.8;
      display: inline-block;
      margin-right: 14px;
      color: #c6c6c6;
      font-size: 15px;
  }

  .detail-project__col--align-left,
  .detail-project__col--align-right {
    float: none;
    width: 100%;
    margin: 0;
  }

  .detail-project__content {
    padding: 80px 5%;
  }

  .footer-text {
      padding: 48px 0;
  }
}

@media (max-width: 1024px) {
 .logo {
    left: 30px !important;
    top: 34px !important;
    height: 100px !important;
  }
  .footer-text {
    padding: 48px 4%;
  }
}

@media (max-width: 480px) {
  .logo {
      left: 7px !important;
      top: 34px !important;
      height: 65px !important;
   }

  .detail-project__hero-text {
      font-size: 10px;
      left: 4%;
      top: 60%;
      right: 4%;
      bottom: auto;
    }

  .detail-project__hero-text p {
      font-size: 0.9rem;
    }

  .detail-project__hero-text .hero-line-1 {
      font-size: 12px;
    }

   .detail-project__hero-text .hero-line-2 {
      font-size: 26px;
      line-height: 1.35;
    }

    .detail-project__hero-text .hero-line-3 {
        font-size: 13px;
    }

    .footer {
        width: auto;
        display: block;
        margin-right: 10px;
    }
    
    .footer-text {
        float: right;
        margin: 204px 0 0;
        line-height: 1.8;
        font-size: 14px;
        color: #c6c6c6;
    }
}