/* src/components/Projects.css */
.projects-section {
  max-width: 1160px;
  margin: 0 auto;
  padding: 140px 0;
}

.projects-title {
  letter-spacing: .24em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.55;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 70px;
  border-bottom: 1px solid #2d2e2d;
}

.project-card {
  max-width: 600px;
  margin: 0 0 -56px;
}

.project-link {
  display: block;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  color: inherit;
  position: relative;
}

/* Hover effect on entire card */
.project-link:hover .project-image img {
  transform: scale(1.05);
}

.project-link:hover .project-title {
  text-decoration: underline;
}

.project-link:hover .project-arrow svg {
  transform: translateX(10px);
}

.project-link:hover .project-desc {
  color: #fff;
}

/* Image */
.project-image {
  width: 100%;
  overflow: hidden;
  margin-bottom: 17px;
}

.project-image img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  object-fit: cover;
}

/* Title */
.project-title {
  line-height: 1.55;
  font-size: 14px;
  font-weight: 400;
  margin: 0 32px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  transition: text-decoration 0.3s;
}

.project-title small {
  color: #777;
  font-size: 0.8rem;
  text-decoration: none !important;
}

/* Description */
.project-desc {
  overflow: hidden;
  margin: 3px 32px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
  color: #777;
  line-height: 1.8;
}

/* Arrow */
.project-arrow {
  position: absolute;
  right: 10px;
  bottom: 0px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;

  text-align: right;
  color: #ffffff;
  padding: 0 20px 20px;
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 950px) {
  .projects-section {
    padding: 48px 4%;
    margin-bottom: 50px;
  }

  .projects-title {
    margin-bottom: 24px;
  }
}



