body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Mirai', 'Arial', 'Helvetica', sans-serif;
  overflow-x: hidden;
  background-color: black;
}

.clear-box::after {
  content: '.';
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}